* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(55, 55, 61);
}

header {
    background-color: rgb(71, 71, 211);
    text-align: center;
    padding: 30px;
    color: rgb(219, 219, 219)
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: auto;
    margin-top: 30px;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}

.emp-card {
    background-color: wheat;
    width: 28%;
    margin: 4% 2%;
    height: 300px;
}

.emp-card h1 {
    background-color: rgb(71, 71, 211);
    color: rgb(219, 219, 219);
    padding: 2% 5%;
    font-size: 25px;
}
