* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(55, 55, 61);
}

header {
    background-color: rgb(71, 71, 211);
    text-align: center;
    padding: 30px;
    color: wheat;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: auto;
}

.card-holder {
    display: flex;
    width: 70%;
}

.emp-card {
    background-color: wheat;
    width: 30%;
    margin: 4% 2%;
    height: 300px;
}
